.container {
    width: 60%;
    margin: 0 auto;
  }

  .bio-card {
    background-image: url('images/mr-roboto.jpg');
    background-color: white;
    padding: 40px;
    box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
    border-radius: 16px;
    margin: 20px auto;
    text-align: center;
    color: #555555;
  }

  .img-circle {
    border-radius: 8px;
    width: 400px;
    box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
  }

  .social-card {
    background-color: #141215;
    padding: 20px;
    box-shadow: 0px 5px 20px rgba(0,0,0,0.1);
    border-radius: 16px;
    margin: 20px auto;
    text-align: center;
  }

  .follow {
    margin: 5px auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .icons {
    width: 85px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    display: flex;
    align-items: center;
  }

  body {
    background-color: #d31f28;
    opacity: 0.7;
    font-family: serif;
    color: #555555;
    font-size: 20px;
    line-height: 1.6;
  }

  h1 {
    font-size: 35px;
    color: #d31f28;
  }

  h2 {
    font-size: 30px;
    font-family: sans-serif;
    color: #d31f28;
    margin: none;
  }

  a {
    color: #d31f28;
    text-decoration: none;
  }

  a:hover {
    color: #BEDBBB;
  }

  p {
    color: #d31f28;
    font-weight: bold;
  }
  @media (max-width: 960px) {
    .container {
      width: 65%;
    }
  }

  @media (max-width: 720px) {
    .container {
      width: 90%;
    }
  }

  @media (max-width: 540px) {
    .container {
      width: 90%;
    }
  }
